<h1>Home#index</h1>
<h1> <% current_user %> </h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= button_to "Sign up", new_user_registration_path, method: :get %>
<%= button_to "Login", user_session_path, method: :get %>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %>