<h1> Edit Page <%=@appointment.id%> </h1>

<%= form_with model: @appointment, url: appointment_path(@appointment), method: :put do |form| %>
  <%= form.datetime_select :start_time, end_year: Date.current.year+1, start_year: Date.current.year, minute_step: 15 %>
  <%= form.submit "Save", class: "btn btn-primary" %>
<% end %>